#jinja2:variable_start_string:'<<', variable_end_string:'>>', block_start_string:'<%', block_end_string:'%>'
---
# Stable exported vars for molecule verify

deploy_result:
  {{ _<<gen_role_name>>_deploy_result | to_nice_yaml(indent=2) | indent(2, False) }}
<% for service in gen_role_services %>

<<gen_role_name>>_<<service|to_varname>>_container_name: "{{ <<gen_role_name>>_<<service|to_varname>>_container_name }}"
<% endfor %>
