#jinja2:variable_start_string:'<<', variable_end_string:'>>', block_start_string:'<%', block_end_string:'%>'
# SPDX-License-Identifier: MIT-0
---
# source checkout tasks file for <<gen_role_name>>

- name: Ensure git tools are installed
  become: true
  ansible.builtin.package:
    name:
      - git
    state: present

- name: Make directory for checkout
  become: true
  ansible.builtin.file:
    path: "{{ <<gen_role_name>>_source_dir }}"
    state: directory
    owner: "{{ site_config_owner }}"
    group: "{{ site_config_group }}"
    mode: "{{ site_config_mode }}"

- name: Checkout <<gen_role_name>> code
  ansible.builtin.git:
    repo: "{{ <<gen_role_name>>_source_repo }}"
    version: "{{ <<gen_role_name>>_source_version }}"
    dest: "{{ <<gen_role_name>>_source_dir }}"
    force: true
  notify: <<gen_role_name>> definition changed
