#jinja2:variable_start_string:'<<', variable_end_string:'>>', block_start_string:'<%', block_end_string:'%>'
# SPDX-License-Identifier: MIT-0
---
# backup service vars file for <<gen_role_name>>

########################################
# <<gen_role_name>> backup service
########################################

_<<gen_role_name>>_backup_uid: 1000
_<<gen_role_name>>_backup_gid: 1000
