#jinja2:variable_start_string:'<<', variable_end_string:'>>', block_start_string:'<%', block_end_string:'%>'
# SPDX-License-Identifier: <<gen_meta_license>>
---
# <<group_item>> vaulted vars file for <<gen_role_name>>
<% for overlay in gen_role_overlays %>
<% include 'overlay_' + overlay + '/fragments/group_vars_vaulted.yml.j2' ignore missing %>
<% endfor %>
