#jinja2:variable_start_string:'<<', variable_end_string:'>>', block_start_string:'<%', block_end_string:'%>'
# SPDX-License-Identifier: MIT-0
---
# defaults file for <<gen_role_name>> restore script

<<gen_role_name>>_restore_data_dir: "{{ site_restore_data_dir | default(<<gen_role_name>>_project_dir + '/backup') }}/<<gen_role_name>>"

<<gen_role_name>>_restore_force: false

<<gen_role_name>>_restore_script: "{{ site_restore_script_dir | default(<<gen_role_name>>_project_dir) }}/55.restore.<<gen_role_name>>"

<<gen_role_name>>_restore_marker: "{{ <<gen_role_name>>_project_dir }}/restore.date.txt"

<<gen_role_name>>_restore_skip: false
