  borgmatic__passphrase:
    content: "{{ v_borgmatic__<<gen_role_name>>__passphrase }}"
    file: "{{ <<gen_role_name>>_secrets_dir }}/borgmatic__passphrase"
  borgmatic__sshkey:
    src: "{{ <<gen_role_name>>_borgmatic_sshkey.src }}"
    file: "{{ <<gen_role_name>>_secrets_dir }}/borgmatic__sshkey"
    mode: "0600"
