#jinja2:variable_start_string:'<<', variable_end_string:'>>', block_start_string:'<%', block_end_string:'%>'
# SPDX-License-Identifier: MIT-0
---
# borgmatic vars file for <<gen_role_name>>

# Internal path for borgmatic configuration
_<<gen_role_name>>_borgmatic_config_path: /etc/borgmatic.d

# Internal path for borgmatic data
_<<gen_role_name>>_borgmatic_data_path: /root
