#jinja2:variable_start_string:'<<', variable_end_string:'>>', block_start_string:'<%', block_end_string:'%>'
# SPDX-License-Identifier: <<gen_meta_license>>
---
# configs tasks file for <<gen_role_name>>

- name: Create configs directory
  become: true # owner/group setting
  ansible.builtin.file:
    path: "{{ <<gen_role_name>>_configs_dir }}"
    state: directory
    owner: "{{ site_config_owner }}"
    group: "{{ site_config_group }}"
    mode: "{{ site_config_mode }}"

- name: Generate configs templates
  become: true # owner/group setting
  ansible.builtin.template:
    src: "{{ item.value.template }}"
    dest: "{{ item.value.file }}"
    owner: "{{ item.value.owner | default(site_config_owner) }}"
    group: "{{ item.value.group | default(site_config_group) }}"
    mode: "{{ item.value.mode | default(site_config_mode) }}"
  loop: "{{ <<gen_role_name>>_configs | dict2items }}"
  notify: <<gen_role_name>> config changed
