#jinja2:variable_start_string:'<<', variable_end_string:'>>', block_start_string:'<%', block_end_string:'%>'
# SPDX-License-Identifier: <<gen_meta_license>>
---
# secrets tasks file for <<gen_role_name>>

- name: Create secrets directory
  become: true # owner/group setting
  ansible.builtin.file:
    path: "{{ <<gen_role_name>>_secrets_dir }}"
    state: directory
    owner: "{{ site_config_owner }}"
    group: "{{ site_config_group }}"
    mode: "{{ site_config_mode }}"

- name: Render secrets templates
  become: true # owner/group setting
  no_log: true
  ansible.builtin.template:
    src: "{{ item.value.template }}"
    dest: "{{ item.value.file }}"
    owner: "{{ item.value.owner | default(site_config_owner) }}"
    group: "{{ item.value.group | default(site_config_group) }}"
    mode: "{{ item.value.mode | default(site_config_mode) }}"
  loop: "{{ <<gen_role_name>>_secrets | default({}, boolean=true) | dict2items | selectattr('value.template', 'defined') }}"
  notify: <<gen_role_name>> config changed

- name: Render inline secrets templates
  become: true # owner/group setting
  no_log: true
  ansible.builtin.copy:
    content: "{{ item.value.content }}"
    dest: "{{ item.value.file }}"
    owner: "{{ item.value.owner | default(site_config_owner) }}"
    group: "{{ item.value.group | default(site_config_group) }}"
    mode: "{{ item.value.mode | default(site_config_mode) }}"
  loop: "{{ <<gen_role_name>>_secrets | default({}, boolean=true) | dict2items | selectattr('value.content', 'defined') }}"
  notify: <<gen_role_name>> config changed

- name: Copy secrets files
  become: true # owner/group setting
  no_log: true
  ansible.builtin.copy:
    src: "{{ item.value.src }}"
    dest: "{{ item.value.file }}"
    owner: "{{ item.value.owner | default(site_config_owner) }}"
    group: "{{ item.value.group | default(site_config_group) }}"
    mode: "{{ item.value.mode | default(site_config_mode) }}"
  loop: "{{ <<gen_role_name>>_secrets | default({}, boolean=true) | dict2items | selectattr('value.src', 'defined') }}"
  notify: <<gen_role_name>> config changed
