

########################################
# <<gen_role_name>> backup script
########################################


########################################
# <<gen_role_name>> restore script
########################################
<<gen_role_name>>_restore_skip: true
